<!doctype html>

<html>
<head>
	<title>Search Results</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet"> -->

	<link href="css/searchresultsCSS.css" rel="stylesheet">    <!-- edit this one --> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>

<body>
	<div class="container">

		
		<div class="back">
			<a href="/search" id="back" class="previous">&laquo; Back</a>
		</div>

		<h1>Search Results</h1>

		<div class="mentor-container">



			{{#each mentors}}
			<div class="mentors" >
				<img src="{{imageURL}}" class="img-responsive">
				<p><a href="./{{profile}}"><h3>{{name}}</h3> </a></p>
				<p>{{job}}</p>
				<p>{{company}}</p>
				<p>{{location}}</p>
			</div>
			<br><br>
			{{/each}}
		<br><br><br><br><br>
		</div>


			<!-- in case the JSON file doesn't work.... 
			<div class="mentor-container">

			<div class="Abigail" >
			<img src="https://d3n8a8pro7vhmx.cloudfront.net/nationalparty/pages/5244/attachments/original/1520903034/20._Dowie_Sarah.png?1520903034" class="img-responsive">
			<a href="> <h3>Abigail Mills</h3> </a>
			<p>Computer Systems Analyst</p>
			<p>System Vault</p>
		</div>

		<div class="Mateo" >
			<img src="http://blog.chemistry.com/wp-content/uploads/2012/09/man-smiling.jpg" class="img-responsive">
			<a href=#> <h3>Mateo Little</h3> </a>
			<p>Financial Advisor</p>
			<p>Finance Fuse</p>
		</div>

		<div class="Elliott" >
			<img src="https://steamuserimages-a.akamaihd.net/ugc/940573211737440191/BDFA2022BE1D420249B31AF05D0CDC2A70597B47/" class="img-responsive">
			<a href=#> <h3>Elliott Bernal</h3> </a>
			<p>Insurance Agent</p>
			<p>Insurance Tap</p>
		</div>

		<div class="Kiefer" >
			<img src="https://www.picmonkey.com/blog/wp-content/uploads/2016/11/1-intro-photo-final.jpg" class="img-responsive">
			<a href=#> <h3>Kiefer Barron</h3> </a>
			<p>Physical Therapist</p>
			<p>iPhysical</p>
		</div>

		<div class="Heather" >
			<img src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1200x1200.jpg" class="img-responsive">
			<a href=#> <h3>Heather Morse</h3> </a>
			<p>Chef</p>
			<p>Flavorati</p>
		</div>

	</div>
-->






	<!-- 
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script> 
	<script src="index.js"></script> 
-->

	</div>

<div class="icon-bar">
	<a class="active" href="/search"><i class="fa fa-search"></i></a>
	<a href="/messages"><i class="fa fa-commenting-o"></i></a>
	<a href="/myprofile"><i class="fa fa-user-circle"></i></a>
</div>

</body>
</html>