<!doctype html>

<html>
<head>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<link href="../css/searchresults2CSS.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="container">

		<div class="back">
			<a href="/search" id="back" class="previous">&laquo; Back</a>
		</div>

		<br>


	    <hgroup class="mb20">
			<h1><strong>Search Results</strong></h1>
			<h2 class="lead"><strong class="text-danger">5</strong> results were found for your search</h2>								
		</hgroup>

		{{#each mentors}}

	<div class="row">
		<div class="list-group">
            <div class="list-group-item clearfix">
                <div class="profile-teaser-left">
                    <div class="profile-img"><img src="{{imageURL}}"/></div>
                </div>

                <div class="blank-space">
                	<p>            </p>
                </div>

                <div class="profile-teaser-main">
                    <h2 class="profile-name" id="name"> <a href="/{{profile}}" title=""><u>{{name}}</u></a></h2>
                    <div class="profile-info">
                        <div class="info"><span class="job">Job:</span> {{job}}</div>
                        <div class="info"><span class="company">Company:</span> {{company}}</div>
                        <div class="info"><span class="location">Location</span> {{location}}</div>
                    </div>
                </div>
            </div><!-- item -->
            
        </div>
	</div>

	{{/each}}
</div>


<br><br><br>

	<div class="icon-bar">
		<a class="active" href="/search"><i class="fa fa-search"></i></a>
		<a href="/messages"><i class="fa fa-commenting-o"></i></a>
		<a href="/myprofile"><i class="fa fa-user-circle"></i></a>
	</div>

</body>
</html>







