<!doctype html>

<html>
<head>
	<title>Search Results</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet"> -->

	<link href="../css/searchresultsCSS.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="/js/analytics.js"></script>



	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-135187707-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
	
</head>

{{#if viewAlt}}
<body>

	<div class="container">

		<div class="back">
			<a href="/search" id="back" class="previous">&laquo; Back</a>
		</div>

		<br>


	    <hgroup class="mb20">
			<h1><strong>Search Results</strong></h1>
			<h2 class="lead"><strong class="text-danger">5</strong> results were found for your search</h2>								
		</hgroup>

		{{#each mentors}}

		<div class="row">
			<div class="list-group">
	            <div class="list-group-item clearfix">
	                <div class="profile-teaser-left">
	                    <div class="profile-img"><img src="{{imageURL}}"/></div>
	                </div>

	                <div class="blank-space">
	                	<p>            </p>
	                </div>

	                <div class="profile-teaser-main">
	                    <h2 class="profile-name" id="name"> <a href="/{{profile}}" title=""><u>{{name}}</u></a></h2>
	                    <div class="profile-info">
	                        <div class="info"><span class="job">Job:</span> {{job}}</div>
	                        <div class="info"><span class="company">Company:</span> {{company}}</div>
	                        <div class="info"><span class="location">Location</span> {{location}}</div>
	                    </div>
	                </div>
	            </div><!-- item -->
	            
	        </div>
		</div>



		{{/each}}

{{else}}
<body>
	<div class="container">

		<div class="back">
			<a href="/search" id="back" class="previous">&laquo; Back</a>
		</div>

		<h1>Search Results</h1>

		<div class="mentor-container">
			{{#each mentors}}
			<div class="mentors" >
				<img src="{{imageURL}}" class="img-responsive">
				<p><a href="/{{profile}}" id="name"><h3>{{name}}</h3> </a></p>
				<p>{{job}}</p>
				<p>{{company}}</p>
				<p>{{location}}</p>
			</div>
			<br><br>
			{{/each}}
		</div>

{{/if}}

<br><br><br><br><br>
		</div>


</div>

<div class="icon-bar">
	<a class="active" href="/search"><i class="fa fa-search"></i></a>
	<a href="/messages"><i class="fa fa-commenting-o"></i></a>
	<a href="/myprofile"><i class="fa fa-user-circle"></i></a>
</div>

</body>
</html>